{% extends '_base.html' %}

{% block title %}Entrar{% endblock %}

{% block extra_head %}
<style>
    .logo {
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #e50914;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .btn {
        display: block;
        width: 48%;
        padding: 14px 0;
        margin: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 6px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .sign__input {
        margin: 10px;
    }

    a {
        color: #e50914;
    }
</style>
{% endblock %}

{% block content %}
<div class="sign__content container">
        <div class="sign__form container" style="color: #fff;" >
                <form method="post" class="container" >
                    {% csrf_token %}
    
                    <h2 class="logo" style="text-align: center;">Entrar</h2>
    
                    {{ form.non_field_errors }}
    
                    {{ form.as_p }}
    
    
                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="submit" class="btn w-100 mb-2">Entrar</button>
                    </div>
    
                </form>
                <div class="sign_text ">
                    Novo por aqui? <a href="{% url 'signup_assinante'%}">Assine agora.</a>
                </div>
                <div class="text">
                    <a href="{% url 'iniciar_reset_senha'%}"> Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    <!-- end authorization form -->
</div>
{% endblock %}