{% extends '_base.html' %}
{% block content %}

{% include '_header.html' %}

<section class="section details">
	{% load static %}
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<div class="row">
					<div class="col-12 col-xl-6" style="display: flex; align-items: center; gap: 15px;">
						<h1 class="details__title">{{ serie.titulo }}</h1>
					</div>

					<div class="details__actions col-12 col-xl-6 d-flex align-items-center" style="margin-top: 0; gap: 20px;">
						{% if request.user.administrador.cargo == 'moderador' %}
						<a href="{% url 'editar_serie' serie.id %}" style="display: flex; align-items: center; gap: 6px; font-size: 1.2rem;">
							<i class="icon ion-ios-create" style="font-size: 1.6rem;"></i> Editar
						</a>
						<form action="{% url 'remover_serie' serie.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<button type="submit" style="display: flex; align-items: center; gap: 6px; font-size: 1.2rem; color:red;" onclick="return confirm('Tem certeza que deseja excluir esta série?');">
								<i class="icon ion-ios-trash" style="font-size: 1.6rem;"></i> Excluir
							</button>
						</form>
						{% endif %}

						{% if favoritado %}
						<form action="{% url 'remover_favorito' serie.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<button type="submit" class="btn btn-warning" style="margin-left: 10px; font-size: 1.1rem;">
								<i class="icon ion-ios-heart" style="font-size: 1.9rem; color: red;"></i> 
							</button>
						</form>
						{% else %}
						<form action="{% url 'adicionar_favorito' serie.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<button type="submit" class="btn btn-light" style="margin-left: 10px; font-size: 1.1rem;">
								<i class="icon ion-ios-heart-empty" style="font-size: 1.9rem;"></i> 
							</button>
						</form>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- detalhes da série -->
			<div class="col-12 col-xl-6">
				<div class="card card--details">
					<div class="row">
						<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
							<div class="card__cover">
								{% if serie.capa %}
								<img src="{{ serie.capa.url }}" alt="{{ serie.titulo }}">
								{% else %}
								<img src="{% static 'img/covers/cover3.jpg' %}" alt="Imagem padrão">
								{% endif %}
							</div>
						</div>
						<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
							<div class="card__content">
								<ul class="card__meta">
									<li><span>Gênero:</span> {{ serie.genero|default:"Não informado" }}</li>
									<li><span>Ano de lançamento:</span> {{ serie.ano_lancamento }}</li>
									<li><span>Número de episódios:</span> {{ serie.numero_episodios }}</li>
								</ul>
								<div class="card__description card__description--details">
									{{ serie.sinopse }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- player -->
			<div class="col-12 col-xl-6">
				<video controls crossorigin playsinline id="video" style="width: 100%; border-radius: 12px;">
				</video>
				<noscript>
					<p>Seu navegador não suporta JavaScript. <a href="{{ serie.video_url }}" download>Clique aqui para
							baixar o vídeo.</a></p>
				</noscript>
			</div>
			<!-- temporadas e episódios -->
<div class="col-12 mt-5">
	<h2 class="section__title">Temporadas e Episódios</h2>

	{% if pode_gerenciar %}
  		<a href="{% url 'temporadas:cadastrar_temporada' serie.id %}" class="btn btn-primary">
    	Cadastrar Temporada
 		</a>
	{% endif %}

	{% for temporada in temporadas %}
		<div class="card mb-3">
			<div class="card-header d-flex justify-content-between align-items-center ">
				<h5 class="mb-0 r">Temporada {{ temporada.numero }}</h5>
				{% if pode_gerenciar %}
					<div>
						<a href="{% url 'temporadas:editar_temporada' temporada.id %}" class="btn btn-sm btn-primary">Editar</a>
						<form action="{% url 'temporadas:remover_temporada' temporada.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Remover temporada?')">Excluir</button>
						</form>
						<a href="{% url 'temporadas:cadastrar_episodio' temporada.id %}" class="btn btn-sm btn-success">+ Episódio</a>
					</div>
				{% endif %}
			</div>
			<ul class="list-group list-group-flush ">
				{% for episodio in temporada.episodios.all %}
					<li class="list-group-item d-flex justify-content-between align-items-center ">
						Episódio {{ episodio.numero }}: {{ episodio.titulo }}
						{% if pode_gerenciar %}
							<div>
								<a href="{% url 'temporadas:editar_episodio' episodio.id %}" class="btn btn-sm btn-primary">Editar</a>
								<form action="{% url 'temporadas:remover_episodio' episodio.id %}" method="post" style="display: inline;">
									{% csrf_token %}
									<button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Remover episódio?')">Excluir</button>
								</form>
							</div>
						{% endif %}
					</li>
				{% empty %}
					<li class="list-group-item">Nenhum episódio cadastrado ainda.</li>
				{% endfor %}
			</ul>
		</div>
	{% empty %}
		<p class="text-muted">Nenhuma temporada cadastrada.</p>
	{% endfor %}
</div>

			
		</div>
	</div>
</section>

<!-- sugestões -->
<div class="col-12">
	<div class="row">
		<div class="col-12">
			<h2 class="section__title section__title--sidebar">Você também pode gostar...</h2>
		</div>

		{% for serie in sugestoes %}
		<div class="col-6 col-md-4 col-lg-2">
			<div class="card">
				<div class="card__cover">
					{% if serie.capa %}
					<img src="{{ serie.capa.url }}" alt="{{ serie.titulo }}">
					{% else %}
					<img src="{% static 'img/covers/cover3.jpg' %}" alt="Imagem padrão">
					{% endif %}
					<a href="{% url 'detalhe_titulo_serie' serie.id %}" class="card__play">
						<i class="icon ion-ios-play"></i>
					</a>
				</div>
				<div class="card__content">
					<h3 class="card__title">
						<a href="{% url 'detalhe_titulo_serie' serie.id %}">{{ serie.titulo }}</a>
					</h3>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
	const video = document.getElementById('video');
	const hlsUrl = "{{ serie.hls_link|escapejs }}";

	if (hlsUrl) {
		if (Hls.isSupported()) {
			const hls = new Hls();
			hls.loadSource(hlsUrl);
			hls.attachMedia(video);
			hls.on(Hls.Events.MANIFEST_PARSED, function () {
				video.play();
			});
		} else if (video.canPlayType('application/vnd.apple.mpegurl')) {
			video.src = hlsUrl;
			video.addEventListener('loadedmetadata', function () {
				video.play();
			});
		} else {
			console.error("Seu navegador não suporta HLS.");
		}
	} else {
		console.error("Nenhum link HLS fornecido.");
	}
</script>
{% endblock %}
