{% extends '_base.html' %}

{% block extra_head %}
<style>
    .btn {
        display: block;
        width: 48%;
        padding: 14px 0;
        margin: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 6px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

   input[type="checkbox"] {
  display: inline-block !important;
  width: 18px !important;
  height: 18px !important;
  margin-right: 6px;
  vertical-align: middle;
  cursor: pointer;
  /* Remova background-color para manter padrão do navegador */
  background-color: transparent !important;
  /* Não sobrescreva a aparência, para manter o estilo padrão */
  appearance: auto !important;
  -webkit-appearance: checkbox !important;
  /* Para Firefox */
  -moz-appearance: checkbox !important;
}


</style>
{% endblock %}

{% block content %}

<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">{{ form_title }}</h2>
                    <!-- end section title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- pricing -->
<div class="section">
    <div class="container">
        <div class="row" style="color: #fff;">
            <form method="POST" style="width: 90%; height: 90%;">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-primary">{{ form_btn }}</button>
                    <a href="{{ cancelar_url }}" class="btn btn-secondary w-100">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end pricing -->

{% endblock %}