{% extends '_base.html' %}

{% block title %}Criar Conta{% endblock %}

{% block extra_head %}
<style>
    .logo {
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #e50914;
        text-decoration: none;
        letter-spacing: 1px;
    }

    .btn {
        display: block;
        width: 48%;
        padding: 14px 0;
        margin: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 6px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .sign__input {
        margin: 10px;
    }
</style>
{% endblock %}

{% block content %}

{% include '_header.html' %}
<div class="sign__content">
    <div class="container">
        <div class=" sign__form row" style="color: #fff;">
            <form method="post" class="container" style="row-gap: 10px;">
                {% csrf_token %}

                <h2 class="logo" style="text-align: center;">{{ conta_title }}</h2>

                {{ usuario_form.non_field_errors }}
                {{ assinante_form.non_field_errors }}

                {{ usuario_form.as_p }}
                {{ admin_form.as_p }}

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn w-100 mb-2">{{ conta_btn }}</button>
                    <a href="{{ cancelar_url }}" class="btn btn-secondary w-100">Cancelar</a>
                </div>
            </form>



        </div>
    </div>
    <!-- end authorization form -->
</div>
{% endblock %}