{% extends '_base.html' %}

{% block title %}Assinantes{% endblock %}

{% block content %}
{% include '_header.html' %}
<section class="content">
    <div class="home item">
        <div class="container" >
            <h1 class="home__title" >Lista de Assinantes</h1>
        </div>
    </div>

    <table class="col-12 container">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for assinante in assinantes %}
            <tr>
                <td>{{ assinante.id }}</td>
                <td>{{ assinante.usuario.nome }}</td>
                <td>{{ assinante.usuario.email }}</td>
                <td>{{ assinante.get_status_display }}</td>
                <td>
                    <a href="{% url 'perfil_assinante' assinante.id %}" class="btn btn-sm btn-outline-primary">Ver</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum assinante encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}