{% extends '_base.html' %}

{% block extra_head %}
<style>
    .btn {
        display: block;
        width: 48%;
        padding: 14px 0;
        margin: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 6px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
{% include '_header.html' %}

<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Perfil </h2>
                    <!-- end section title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- pricing -->
<div class="section">
    <div class="container">
        <div class="row" style="color: #fff;">
            <!-- plan features -->
            <div class="col-12">
                <ul class="row plan-features">
                    <dt class="col-sm-4 text-end">Nome:</dt>
                    <dd class="col-sm-8">{{ administrador.usuario.nome }}</dd>

                    <dt class="col-sm-4 text-end">Email:</dt>
                    <dd class="col-sm-8">{{ administrador.usuario.email }}</dd>

                    <dt class="col-sm-4 text-end">Cargo:</dt>
                    <dd class="col-sm-8">{{ administrador.get_cargo_display }}</dd>
            </div>
            <!-- end plan features -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
            <a href="{% url 'editar_administrador' administrador.id %}" class="btn btn-outline-primary px-4"> Editar
                Perfil
            </a>
            {% if request.user.administrador.cargo == 'gerente' %}
            <a href="{% url 'admin_alterar_senha_usuario' administrador.usuario.id %}" class="btn btn-warning">
                Alterar Senha do Usuário
            </a>
            {% else %}
            <a href="{% url 'alterar_senha' administrador.id %}" class="btn btn-outline-secondary px-4"> Atualizar Senha
            </a>
            {% endif %}
        </div>

    </div>
    <!-- end pricing -->

    {% endblock %}