{% block extra_head %}
<style>
	.Header_logo {
		font-family: 'Inter', sans-serif;
		font-size: 30px;
		font-weight: 700;
		color: #e50914;
		text-decoration: none;
		letter-spacing: 1px;
	}
</style>
{% endblock %}

<header class="header">
	{% load static %}
	<div class="header__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a href="{% url 'pagina_stream' %}" class="Header_logo">
							STREAMBERRY
						</a>
						<!-- end header logo -->

						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gênero</a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">
									<!-- Gêneros cadastrados -->
									{% for genero in generos_disponiveis %}
									<li class="dropdown-submenu px-2">
										<div class="d-flex justify-content-between align-items-center">
											<a class="flex-grow-1" href="{% url 'visualizar_genero' genero.id %}">{{genero.nome }}</a>
											{% if request.user.administrador.cargo == 'moderador' %}
											<div class="ml-3 d-flex gap-4">
												<a href="{% url 'atualizar_genero' genero.id %}" title="Editar"
													class="text-primary" style="display: flex; align-items: center; gap: 6px; font-size: 1.2rem;">
													<i class="icon ion-ios-create"></i>
												</a>
												<a href="{% url 'remover_genero' genero.id %}" title="Deletar"
													class="text-danger" style="display: flex; align-items: center; gap: 6px; font-size: 1.2rem; color:red;">
													<i class="icon ion-ios-trash"></i>
												</a>
											</div>
											{% endif %}
										</div>
									</li>

									{% empty %}
									<li><a href="#">Nenhum gênero cadastrado</a></li>
									{% endfor %}

									<!-- Separador visual -->
									<li class="dropdown-divider"></li>

									<!-- Ações CRUD gerais -->
									<li><a href="{% url 'criar_genero' %}">+ Criar Gênero</a></li>
								</ul>

							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a href="{% url 'listar_series' %}" class="header__nav-link">Séries</a>
							</li>
							<!-- end dropdown -->

							<li class="header__nav-item">
								<a href="{% url 'listar_filmes' %}" class="header__nav-link">Filmes</a>
							</li>

							<li class="header__nav-item">
								<a href="{% url 'minha_lista' %}" class="header__nav-link">Minha Lista</a>
							</li>

							<!-- dropdown -->
							<li class="dropdown header__nav-item">
								<a class="dropdown-toggle header__nav-link header__nav-link--more" href="#"
									role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"><i class="icon ion-ios-more"></i></a>

								<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
									<li><a class="dropdown-item" href="{% url 'central_ajuda' %}">Central de ajuda</a>
									</li>

									{% if request.user.administrador %}
									<li><a class="dropdown-item"
											href="{% url 'perfil_administrador' pk=request.user.administrador.id %}">Perfil</a>
									</li>

									{% if request.user.administrador.cargo == 'gerente' %}
									<li><a class="dropdown-item" href="{% url 'listar_assinantes' %}">Lista de
											Assinantes</a>
									</li>
									<li><a class="dropdown-item" href="{% url 'listar_administradores' %}">Lista de
											Administradores</a></li>
									<!-- Itens exclusivos para gerente -->
									{% elif request.user.administrador.cargo == 'moderador' %}
									<li><a class="dropdown-item" href="#">Criar Gêneros</a></li>
									<!-- Itens exclusivos para moderador -->
									{% endif %}

									{% else %}
									<li><a class="dropdown-item"
											href="{% url 'perfil_assinante' pk=request.user.assinante.id %}">Conta</a>
									</li>
									{% endif %}
									<li><a class="dropdown-item" href="{% url 'logout_view' %}">Sair da Streamberry</a>
									</li>
								</ul>

						</ul>

						</li>
						<!-- end dropdown -->
						</ul>
						<!-- end header nav -->

						<!-- header auth -->
						<div class="header__auth">
							<button class="header__search-btn" type="button">
								<i class="icon ion-ios-search"></i>
							</button>
						</div>
						<!-- end header auth -->

						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end header menu btn -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- header search -->
	<form action="{% url 'search' %}" method="get" class="header__search">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__search-content">
						<input type="text" name="q" placeholder="Buscar título...">
						<button type="submit"><i class="icon ion-ios-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- end header search -->
</header>