{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if request.user.administrador %}
                    <a href="{% url 'perfil_administrador' pk=request.user.administrador.id %}">Admin</a>
                    {% if request.user.is_staff %}
                    <a href="{% url 'listar_assinantes' %}" class="btn btn-dark w-100">Ver Assinantes</a>
                    <a href="{% url 'listar_administradores' %}" class="btn btn-dark w-100">Ver Admins</a>
                    {% else %}
                    <a href="#">Criar Titulos</a>
                    <a href="#">Criar Generos</a>
                    {% endif %}
                    
                    {% else %}
                    <a href="{% url 'perfil_assinante' pk=request.user.assinante.id %}">Conta</a>
                    {% endif %}

                </li>
            </ul>
        </div>
    </div>
</nav>