{% extends '_base.html' %}

{% block title %}Streamberry{% endblock %}
{% load static %}

{% block extra_head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    
    .align {
        display: grid;
        place-items: center;
    }
    
    .logo {
        font-family: 'Inter', sans-serif;
        font-size: 90px;
        font-weight: 700;
        color: #e50914;
        text-decoration: none;
        letter-spacing: 1px;
    }
    
    .btn {
        display: block;
        width: 48%;
        padding: 14px 0;
        margin-bottom: 1rem;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background-color: #e50914;
        border: none;
        border-radius: 6px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
    
    .btn:hover {
        background-color: #f6121d;
        color: #fff;
    }

      .card-streamberry {
        width: 50%;
    }


    @media (max-width: 956px) {
        .btn {
            width: 100%;
        }

        .logo {
            font-size: 60px;
        }

          .card-streamberry {
        width: 90%;
    }

    }
</style>
{% endblock %}

{% block content %}
<div class="sign__content" style="min-height: 100vh;">
    <div class=" align card-streamberry w-auto">
        <div class="h-auto p-4">  
           
                <a href="{% url 'home' %}" class="logo mb-4 d-inline-block">
                    STREAMBERRY
                </a>
                <div class="section__wrap">
                    <a class="btn" href="{% url 'signup_assinante' %}">Criar Conta</a>
                    <a class="btn" href="{% url 'login_view' %}">Entrar</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}

