{% extends '_base.html' %}

{% block title %}Streamer - Filmes, Séries e Conteúdo Exclusivo{% endblock %}

{% block content %} {# O body aqui contém todo o conteúdo da sua home page #}
    <div class="hero-full-screen">
        <div class="hero-content-centered">
            <h1>Filmes, Séries e Muito Mais. Sem Limites.</h1>
            <p>Assista onde quiser. Cancele quando quiser.</p>
            <a href="{% url 'signup_assinante' %}" class="btn btn-netflix-primary btn-lg me-3">Criar Conta</a>
            <a href="{% url 'login_view' %}" class="btn btn-netflix-secondary btn-lg">Entrar</a>
        </div>
    </div>
{% endblock %}