{% extends '_base.html' %}

{% block title %}Streamberry - Home Page{% endblock %}
{% load static %}

{% block content %}
<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="sign__content text-center">
                    <form action="#" class="sign__form p-4">
                        <a href="{% url 'home' %}" class="sign__logo mb-4 d-inline-block">
                            <img src="{% static 'img/logo.svg' %}" alt="Streamberry Logo">
                        </a>

                        <div class="d-flex flex-column gap-3">
                            <a class="sign__btn text-center" href="{% url 'signup_assinante' %}">Criar Conta</a>
                            <a class="sign__btn text-center" href="{% url 'login_view' %}">Entrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
